streamlit==1.42.2
spacy==3.8.4
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz
thinc==8.3.4
pdfminer3
pandas
yt-dlp
plotly
pymysql
streamlit-tags
Pillow
nltk
docx2txt
pdfminer.six
pyresparser
# Force Streamlit to reinstall dependencies

